---
// Languages
import { useLocale } from '@/Hooks/useLocale';
const { t } = useLocale(Astro);

const project = [
	{
		type: 'web',
		title: t('Projects.Title.1'),
		description: t('Projects.Description.1'),
		image: '/Images/Projects/Horoscope.webp',
		linkView: 'https://andercmd.github.io/Desafios-Codedex/Horoscopo/',
		linkCode: 'https://github.com/AnderCMD/Desafios-Codedex/tree/main/Horoscopo',
		year: 2024,
	},
	{
		type: 'web',
		title: t('Projects.Title.2'),
		description: t('Projects.Description.2'),
		image: '/Images/Projects/Calculator.webp',
		linkView: 'https://andercmd.github.io/Calculadora/',
		linkCode: 'https://github.com/AnderCMD/Calculadora',
		year: 2023,
	},
	{
		type: 'web',
		title: t('Projects.Title.3'),
		description: t('Projects.Description.3'),
		image: '/Images/Projects/GPT-Local.webp',
		linkView: 'https://andercmd.github.io/GPT-Local/',
		linkCode: 'https://github.com/AnderCMD/GPT-Local',
		year: 2024,
	},
	{
		type: 'web',
		title: t('Projects.Title.4'),
		description: t('Projects.Description.4'),
		image: '/Images/Projects/AMEDigital.webp',
		linkView: 'https://www.amedigital.mx',
		year: 2024,
	},
	{
		type: 'web',
		title: t('Projects.Title.5'),
		description: t('Projects.Description.5'),
		image: '/Images/Projects/DiagnosticoModerno.webp',
		linkView: 'https://www.diagnosticomoderno.com/',
		year: 2023,
	},
	{
		type: 'web',
		title: t('Projects.Title.7'),
		description: t('Projects.Description.7'),
		image: '/Images/Projects/EcologiX.webp',
		linkCode: 'https://github.com/AnderCMD/EcologiX',
		year: 2023,
	},
	{
		type: 'mobile',
		title: t('Projects.Title.8'),
		description: t('Projects.Description.8'),
		image: '/Images/Projects/FlappyBat.webp',
		linkCode: 'https://github.com/AnderCMD/Flappy-Bat',
		linkDownload: '/Download/APK/Flappy-Bat.apk',
		year: 2022,
	},
	{
		type: 'web',
		title: t('Projects.Title.9'),
		description: t('Projects.Description.9'),
		image: '/Images/Projects/ChatBot.webp',
		linkView: 'https://andercmd.github.io/Chat-Bot/',
		linkCode: 'https://github.com/AnderCMD/Chat-Bot',
		year: 2022,
	},
	{
		type: 'web',
		title: t('Projects.Title.10'),
		description: t('Projects.Description.10'),
		image: '/Images/Projects/Frontend-Mentor.webp',
		linkView: 'https://andercmd.github.io/Desafios-Frontend-Mentor/',
		linkCode: 'https://github.com/AnderCMD/Desafios-Frontend-Mentor/',
		year: 2023,
	},
	{
		type: 'other',
		title: t('Projects.Title.11'),
		description: t('Projects.Description.11'),
		image: '/Images/Projects/WindowsRepair.webp',
		linkCode: 'https://github.com/AnderCMD/Fix-Windows',
		linkDownload: '/Download/Scripts/FixWindows.bat',
		year: 2024,
	},
	{
		type: 'web',
		title: t('Projects.Title.12'),
		description: t('Projects.Description.12'),
		image: '/Images/Projects/TasksFlow.webp',
		linkView: 'https://tasksflow.andercmd.dev',
		linkCode: 'http://github.com/AnderCMD/TasksFlow',
		year: 2025,
	},
];
---

<style>
	.filter-item {
		opacity: 1;
		transition:
			opacity 0.3s ease,
			transform 0.3s ease;
		transform: scale(1);
		display: block;
	}

	.filter-item.hide {
		opacity: 0;
		transform: scale(0.9);
	}

	.filter-item.hidden {
		display: none;
	}

	.project-card {
		transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
		overflow: hidden;
	}

	.project-card:hover {
		transform: translateY(-5px);
		box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	}

	.project-image {
		overflow: hidden;
	}

	.project-image img {
		transition: transform 0.5s ease;
		object-fit: cover;
	}

	.project-card:hover .project-image img {
		transform: scale(1.05);
	}

	.project-tag {
		font-size: 0.75rem;
		padding: 0.25rem 0.75rem;
		border-radius: 9999px;
		background-color: rgba(14, 165, 233, 0.15);
		color: rgb(14, 165, 233);
		font-weight: 500;
		margin-right: 0.5rem;
		display: inline-flex;
		align-items: center;
		margin-bottom: 0.5rem;
	}

	.project-tag i {
		margin-right: 0.25rem;
		font-size: 0.7rem;
	}

	.btn-project {
		transition: all 0.2s ease;
		position: relative;
		overflow: hidden;
	}

	.btn-project:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 5px;
		height: 5px;
		background: rgba(255, 255, 255, 0.5);
		opacity: 0;
		border-radius: 100%;
		transform: scale(1, 1) translate(-50%);
		transform-origin: 50% 50%;
	}

	.btn-project:hover:after {
		animation: ripple 0.6s ease-out;
	}

	@keyframes ripple {
		0% {
			transform: scale(0, 0);
			opacity: 0.5;
		}
		100% {
			transform: scale(20, 20);
			opacity: 0;
		}
	}
</style>

<div class='flex flex-wrap items-center justify-center py-4 md:py-8'>
	<button
		type='button'
		class='filter-button text-white bg-blue-700 hover:bg-blue-800 border border-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:bg-blue-500 dark:hover:bg-blue-600 dark:border-blue-500 dark:focus:ring-blue-800'
		data-filter='all'>
		{t('Projects.Nav.AllCategories')}
	</button>
	<button
		type='button'
		class='filter-button text-slate-900 border border-white hover:border-slate-200 dark:border-slate-900 dark:bg-slate-900 dark:hover:border-slate-700 bg-slate-100 focus:ring-4 focus:outline-none focus:ring-slate-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-slate-800'
		data-filter='web'>
		<i class='fa-solid fa-globe mr-1'></i>
		{t('Projects.Nav.Web')}
	</button>
	<button
		type='button'
		class='filter-button text-slate-900 border border-white hover:border-slate-200 dark:border-slate-900 dark:bg-slate-900 dark:hover:border-slate-700 bg-slate-100 focus:ring-4 focus:outline-none focus:ring-slate-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-slate-800'
		data-filter='mobile'>
		<i class='fa-solid fa-mobile-screen mr-1'></i>
		{t('Projects.Nav.Mobile')}
	</button>
	<button
		type='button'
		class='filter-button text-slate-900 border border-white hover:border-slate-200 dark:border-slate-900 dark:bg-slate-900 dark:hover:border-slate-700 bg-slate-100 focus:ring-4 focus:outline-none focus:ring-slate-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-slate-800'
		data-filter='other'>
		<i class='fa-solid fa-code mr-1'></i>
		{t('Projects.Nav.Other')}
	</button>
</div>

<div class='items-stretch justify-center grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3'>
	{
		project
			.sort((a, b) => {
				if (b.year !== a.year) {
					return (b.year || 0) - (a.year || 0); // Sort by year in descending order
				}
				return a.title.localeCompare(b.title); // Sort by title in ascending order
			})
			.map((Project) => (
				<div class={`min-h-full filter-item all ${Project.type}`}>
					<div
						class='project-card flex flex-col h-full border rounded-lg shadow-md bg-slate-50 border-slate-300 dark:bg-slate-800 dark:border-slate-700'
						data-aos='fade-up'>
						<a href={Project.linkView || Project.linkCode} class='flex-shrink-0 project-image'>
							<img
								class='w-full h-52 rounded-t-lg'
								src={Project.image}
								alt={Project.description}
								loading='lazy'
							/>
						</a>
						<div class='flex flex-col flex-grow p-5'>
							<div class='flex items-center justify-between mb-2'>
								<span class='text-sm font-semibold text-slate-600 dark:text-slate-400'>
									{Project.year}
								</span>
								<div class='project-tag dark:bg-opacity-20 dark:text-sky-400'>
									{Project.type === 'web' && (
										<>
											<i class='fa-solid fa-globe' /> Web
										</>
									)}
									{Project.type === 'mobile' && (
										<>
											<i class='fa-solid fa-mobile-screen' /> Mobile
										</>
									)}
									{Project.type === 'other' && (
										<>
											<i class='fa-solid fa-code' /> Other
										</>
									)}
								</div>
							</div>
							<h5 class='mb-3 text-2xl font-bold tracking-tight text-slate-900 dark:text-white'>
								{Project.title}
							</h5>
							<p class='flex-grow mb-4 font-normal text-slate-700 dark:text-slate-300'>
								{Project.description}
							</p>
							<div class='flex items-center justify-between mt-auto gap-3 max-2xl:flex-col'>
								{Project.linkCode && (
									<a
										href={Project.linkCode}
										target='_blank'
										class='btn-project inline-flex items-center justify-center w-full px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-sky-600 hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-sky-300 dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800'>
										{t('Projects.ViewCode')}
										<i class='ml-2 fa-solid fa-file-code' />
									</a>
								)}
								{Project.linkView && (
									<a
										href={Project.linkView}
										target='_blank'
										class='btn-project inline-flex items-center justify-center w-full px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-sky-600 hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-sky-300 dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800'>
										{t('Projects.VisitProject')}
										<i class='ml-2 fa-solid fa-eye' />
									</a>
								)}
								{Project.linkDownload && (
									<a
										href={Project.linkDownload}
										target='_blank'
										class='btn-project inline-flex items-center justify-center w-full px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-sky-600 hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-sky-300 dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800'
										download>
										{t('Projects.Download')}
										<i class='ml-2 fa-solid fa-download' />
									</a>
								)}
							</div>
						</div>
					</div>
				</div>
			))
	}
</div>

<script>
	import AOS from 'aos';

	document.addEventListener('astro:page-load', () => {
		const filterButtons = document.querySelectorAll('.filter-button');
		const filterItems = document.querySelectorAll('.filter-item');

		filterButtons.forEach((button) => {
			button.addEventListener('click', () => {
				// Remove active class from all buttons
				filterButtons.forEach((btn) => {
					if (btn.getAttribute('data-filter') === 'all') {
						btn.classList.remove('bg-blue-700', 'bg-blue-800', 'dark:bg-blue-500', 'text-white');
						btn.classList.add('text-blue-700', 'dark:text-blue-500', 'bg-white', 'dark:bg-slate-900');
					} else {
						btn.classList.remove('bg-blue-700', 'bg-blue-800', 'dark:bg-blue-600', 'text-white');
						btn.classList.add('text-slate-900', 'dark:text-white', 'bg-white', 'dark:bg-slate-900');
					}
				});

				// Add active class to clicked button
				button.classList.remove(
					'text-blue-700',
					'text-slate-900',
					'dark:text-blue-500',
					'dark:text-white',
					'bg-white',
					'dark:bg-slate-900'
				);
				button.classList.add('bg-blue-700', 'dark:bg-blue-500', 'text-white');

				const filter = button.getAttribute('data-filter');

				filterItems.forEach((item) => {
					const element = item;

					if (filter === 'all') {
						element.classList.remove('hidden');
						requestAnimationFrame(() => {
							element.classList.remove('hide');
						});
					} else {
						if (filter && item.classList.contains(filter)) {
							element.classList.remove('hidden');
							requestAnimationFrame(() => {
								element.classList.remove('hide');
							});
						} else {
							element.classList.add('hide');
							element.addEventListener(
								'transitionend',
								() => {
									if (element.classList.contains('hide')) {
										element.classList.add('hidden');
									}
								},
								{ once: true }
							);
						}
					}
				});

				// Add a small delay before refreshing AOS
				setTimeout(() => {
					AOS.refresh();
				}, 500);
			});
		});
	});
</script>
