---
// Languages
import { useLocale } from '../../Hooks/useLocale';
const { t } = useLocale(Astro);

const project = [
	{
		type: 'web',
		title: t('Projects.Title.1'),
		description: t('Projects.Description.1'),
		image: '/Images/Projects/Horoscope.webp',
		linkView: 'https://andercmd.github.io/Desafios-Codedex/Horoscopo/',
		linkCode: 'https://github.com/AnderCMD/Desafios-Codedex/tree/main/Horoscopo',
		year: 2024,
	},
	{
		type: 'web',
		title: t('Projects.Title.2'),
		description: t('Projects.Description.2'),
		image: '/Images/Projects/Calculator.webp',
		linkView: 'https://andercmd.github.io/Calculadora/',
		linkCode: 'https://github.com/AnderCMD/Calculadora',
		year: 2023,
	},
	{
		type: 'web',
		title: t('Projects.Title.3'),
		description: t('Projects.Description.3'),
		image: '/Images/Projects/GPT-Local.webp',
		linkView: 'https://andercmd.github.io/GPT-Local/',
		linkCode: 'https://github.com/AnderCMD/GPT-Local',
		year: 2024,
	},
	{
		type: 'web',
		title: t('Projects.Title.4'),
		description: t('Projects.Description.4'),
		image: '/Images/Projects/AMEDigital.webp',
		linkView: 'https://www.amedigital.mx',
		year: 2024,
	},
	{
		type: 'web',
		title: t('Projects.Title.5'),
		description: t('Projects.Description.5'),
		image: '/Images/Projects/DiagnosticoModerno.webp',
		linkView: 'https://www.diagnosticomoderno.com/',
		year: 2023,
	},
	{
		type: 'web',
		title: t('Projects.Title.7'),
		description: t('Projects.Description.7'),
		image: '/Images/Projects/EcologiX.webp',
		linkCode: 'https://github.com/AnderCMD/EcologiX',
		year: 2023,
	},
	{
		type: 'mobile',
		title: t('Projects.Title.8'),
		description: t('Projects.Description.8'),
		image: '/Images/Projects/FlappyBat.webp',
		linkCode: 'https://github.com/AnderCMD/Flappy-Bat',
		linkDownload: '/APK/Flappy-Bat.apk',
		year: 2022,
	},
	{
		type: 'web',
		title: t('Projects.Title.9'),
		description: t('Projects.Description.9'),
		image: '/Images/Projects/ChatBot.webp',
		linkView: 'https://andercmd.github.io/Chat-Bot/',
		linkCode: 'https://github.com/AnderCMD/Chat-Bot',
		year: 2022,
	},
	{
		type: 'web',
		title: t('Projects.Title.10'),
		description: t('Projects.Description.10'),
		image: '/Images/Projects/Frontend-Mentor.webp',
		linkView: 'https://andercmd.github.io/Desafios-Frontend-Mentor/',
		linkCode: 'https://github.com/AnderCMD/Desafios-Frontend-Mentor/',
		year: 2023,
	},
	{
		type: 'other',
		title: t('Projects.Title.11'),
		description: t('Projects.Description.11'),
		image: '/Images/Projects/WindowsRepair.webp',
		linkCode: 'https://github.com/AnderCMD/Fix-Windows',
		year: 2024,
	},
];
---

<style>
	.filter-item {
		opacity: 1;
		transition:
			opacity 0.2s ease,
			transform 0.2s ease;
		transform: scale(1);
		display: block;
	}

	.filter-item.hide {
		opacity: 0;
		transform: scale(0.9);
	}

	.filter-item.hidden {
		display: none;
	}
</style>

<div class='flex flex-wrap items-center justify-center py-4 md:py-8'>
	<button
		type='button'
		class='filter-button text-blue-700 hover:text-white border border-blue-600 bg-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:bg-slate-900 dark:focus:ring-blue-800'
		data-filter='all'>
		{t('Projects.Nav.AllCategories')}
	</button>
	<button
		type='button'
		class='filter-button text-slate-900 border border-white hover:border-slate-200 dark:border-slate-900 dark:bg-slate-900 dark:hover:border-slate-700 bg-white focus:ring-4 focus:outline-none focus:ring-slate-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-slate-800'
		data-filter='web'>
		{t('Projects.Nav.Web')}
	</button>
	<button
		type='button'
		class='filter-button text-slate-900 border border-white hover:border-slate-200 dark:border-slate-900 dark:bg-slate-900 dark:hover:border-slate-700 bg-white focus:ring-4 focus:outline-none focus:ring-slate-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-slate-800'
		data-filter='mobile'>
		{t('Projects.Nav.Mobile')}
	</button>
	<button
		type='button'
		class='filter-button text-slate-900 border border-white hover:border-slate-200 dark:border-slate-900 dark:bg-slate-900 dark:hover:border-slate-700 bg-white focus:ring-4 focus:outline-none focus:ring-slate-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-slate-800'
		data-filter='other'>
		{t('Projects.Nav.Other')}
	</button>
</div>

<div class='items-stretch justify-center grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3'>
	{
		project
			.sort((a, b) => {
				if (b.year !== a.year) {
					return (b.year || 0) - (a.year || 0); // Sort by year in descending order
				}
				return a.title.localeCompare(b.title); // Sort by title in ascending order
			})
			.map((Project) => (
				<div class={`min-h-full filter-item all ${Project.type}`}>
					<div class='flex flex-col h-full border-2 rounded-lg shadow-md transition-all bg-slate-50 border-slate-300 hover:scale-105 dark:bg-slate-900 dark:border-slate-600'>
						<a href={Project.linkView} class='flex-shrink-0'>
							<img
								class='object-fill w-full h-48 border-b-2 rounded-t-lg border-slate-300 dark:border-slate-600'
								src={Project.image}
								alt={Project.description}
							/>
						</a>
						<div class='flex flex-col flex-grow p-5'>
							<span class='text-slate-600 dark:text-slate-400'>{Project.year}</span>
							<h5 class='mb-2 text-2xl font-bold tracking-tight text-slate-900 dark:text-white'>
								{Project.title}
							</h5>
							<p class='flex-grow mb-3 font-normal text-slate-700 dark:text-slate-400'>
								{Project.description}
							</p>
							<div class='flex items-center justify-between mt-auto gap-4 max-2xl:flex-col'>
								{Project.linkCode && (
									<a
										href={Project.linkCode}
										target='_blank'
										class='inline-flex items-center justify-center w-full px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-sky-500 dark:hover:bg-sky-600 dark:focus:ring-blue-800'>
										{t('Projects.ViewCode')}
										<i class='ml-2 fa-solid fa-file-code' />
									</a>
								)}
								{Project.linkView && (
									<a
										href={Project.linkView}
										target='_blank'
										class='inline-flex items-center justify-center w-full px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-sky-500 dark:hover:bg-sky-600 dark:focus:ring-blue-800'>
										{t('Projects.VisitProject')}
										<i class='ml-2 fa-solid fa-eye' />
									</a>
								)}
								{Project.linkDownload && (
									<a
										href={Project.linkDownload}
										target='_blank'
										class='inline-flex items-center justify-center w-full px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-sky-500 dark:hover:bg-sky-600 dark:focus:ring-blue-800'
										download>
										{t('Projects.Download')}
										<i class='ml-2 fa-solid fa-download' />
									</a>
								)}
							</div>
						</div>
					</div>
				</div>
			))
	}
</div>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const filterButtons = document.querySelectorAll('.filter-button');
		const filterItems = document.querySelectorAll('.filter-item');

		filterButtons.forEach((button) => {
			button.addEventListener('click', () => {
				const filter = button.getAttribute('data-filter');

				filterItems.forEach((item) => {
					const element = item;

					if (filter === 'all') {
						element.classList.remove('hidden');
						requestAnimationFrame(() => {
							element.classList.remove('hide');
						});
					} else {
						if (filter && item.classList.contains(filter)) {
							element.classList.remove('hidden');
							requestAnimationFrame(() => {
								element.classList.remove('hide');
							});
						} else {
							element.classList.add('hide');
							element.addEventListener(
								'transitionend',
								() => {
									if (element.classList.contains('hide')) {
										element.classList.add('hidden');
									}
								},
								{ once: true }
							);
						}
					}
				});
			});
		});
	});
</script>
