---
// Languages
import { useLocale } from '../../Hooks/useLocale';
const { t } = useLocale(Astro);

const project = [
	{
		type: 'web',
		title: t('Projects.Title.1'),
		description: t('Projects.Description.1'),
		image: '/Images/Projects/Horoscope.png',
		linkView: 'https://andercmd.github.io/Desafios-Codedex/Horoscopo/',
		linkCode:
			'https://github.com/AnderCMD/Desafios-Codedex/tree/main/Horoscopo',
	},
	{
		type: 'web',
		title: t('Projects.Title.2'),
		description: t('Projects.Description.2'),
		image: '/Images/Projects/Calculator.png',
		linkView: 'https://andercmd.github.io/Calculadora/',
		linkCode: 'https://github.com/AnderCMD/Calculadora',
	},
];
---

<style>
	.filter-item {
		opacity: 1;
		transition:
			opacity 0.2s ease,
			transform 0.2s ease;
		transform: scale(1);
		display: block;
	}

	.filter-item.hide {
		opacity: 0;
		transform: scale(0.9);
	}

	.filter-item.hidden {
		display: none;
	}
</style>

<div class='flex flex-wrap items-center justify-center py-4 md:py-8'>
	<button
		type='button'
		class='filter-button text-blue-700 hover:text-white border border-blue-600 bg-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:bg-gray-900 dark:focus:ring-blue-800'
		data-filter='all'>
		{t('Projects.Nav.AllCategories')}
	</button>
	<button
		type='button'
		class='filter-button text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800'
		data-filter='web'>
		{t('Projects.Nav.Web')}
	</button>
	<button
		type='button'
		class='filter-button text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800'
		data-filter='mobile'>
		{t('Projects.Nav.Mobile')}
	</button>
	<button
		type='button'
		class='filter-button text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800'
		data-filter='other'>
		{t('Projects.Nav.Other')}
	</button>
</div>
<div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4'>
	{
		project.map((Project) => (
			<div class={`filter-item all ${Project.type}`}>
				<div class='max-w-sm bg-white border-2 border-gray-300 border-dashed rounded-lg shadow-md dark:bg-gray-950 dark:border-gray-700 '>
					<a href={Project.linkView}>
						<img
							class='rounded-t-lg'
							src={Project.image}
							alt={Project.description}
						/>
					</a>
					<div class='p-5'>
						<h5 class='mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white'>
							{Project.title}
						</h5>
						<p class='mb-3 font-normal text-gray-700 dark:text-gray-400'>
							{Project.description}
						</p>
						<div class='flex items-center justify-between gap-4 max-2xl:flex-col'>
							<a
								href={Project.linkCode}
								class='inline-flex items-center justify-center w-full px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-sky-500 dark:hover:bg-sky-600 dark:focus:ring-blue-800'>
								{t('Projects.ViewCode')}
								<i class='ml-2 fa-solid fa-file-code' />
							</a>
							<a
								href={Project.linkView}
								class='inline-flex items-center justify-center w-full px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-sky-500 dark:hover:bg-sky-600 dark:focus:ring-blue-800'>
								{t('Projects.VisitProject')}
								<i class='ml-2 fa-solid fa-eye' />
							</a>
						</div>
					</div>
				</div>
			</div>
		))
	}
</div>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const filterButtons = document.querySelectorAll('.filter-button');
		const filterItems = document.querySelectorAll('.filter-item');

		filterButtons.forEach((button) => {
			button.addEventListener('click', () => {
				const filter = button.getAttribute('data-filter');

				filterItems.forEach((item) => {
					const element = item;

					if (filter === 'all') {
						element.classList.remove('hidden');
						requestAnimationFrame(() => {
							element.classList.remove('hide');
						});
					} else {
						if (filter && item.classList.contains(filter)) {
							element.classList.remove('hidden');
							requestAnimationFrame(() => {
								element.classList.remove('hide');
							});
						} else {
							element.classList.add('hide');
							element.addEventListener(
								'transitionend',
								() => {
									if (element.classList.contains('hide')) {
										element.classList.add('hidden');
									}
								},
								{ once: true }
							);
						}
					}
				});
			});
		});
	});
</script>
