---
import { useLocale } from '@/Hooks/useLocale';
import AButton from '@/Components/Common/AButton.astro';
const { t } = useLocale(Astro);

const workExperience = [
	{
		active: true,
		nameCompany: 'AMEDigital A.C.',
		position: t('WorkExperience.Companies.Position.3'),
		date: '07/2024 • 12/2024 ',
		description: t('WorkExperience.Companies.Description.3'),
		visit: 'https://www.amedigital.mx/',
	},
	{
		active: false,
		nameCompany: 'Diagnostico Moderno',
		position: t('WorkExperience.Companies.Position.2'),
		date: '03/2023 • 12/2024',
		description: t('WorkExperience.Companies.Description.2'),
		visit: 'https://www.diagnosticomoderno.com/',
	},
	{
		active: false,
		nameCompany: 'Intellion',
		position: t('WorkExperience.Companies.Position.1'),
		date: '05/2023 • 04/2024',
		description: t('WorkExperience.Companies.Description.1'),
		visit: '',
	},
];
---

<ol class='relative my-20 border-slate-200 border-s dark:border-slate-700'>
	{
		workExperience.map((WorkExperience) => (
			<li class='mb-10 ms-6'>
				<span class='absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-slate-900 dark:bg-blue-900' data-aos='fade-up'>
					<svg
						class='w-2.5 h-2.5 text-blue-800 dark:text-blue-300'
						aria-hidden='true'
						xmlns='http://www.w3.org/2000/svg'
						fill='currentColor'
						viewBox='0 0 20 20'>
						<path d='M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z' />
					</svg>
				</span>
				<h3 class='flex flex-col justify-start mb-1 text-lg font-semibold text-slate-900 gap-1 xl:flex-row dark:text-white' data-aos="fade-right">
					{WorkExperience.position} &nbsp;
					<span class='text-sky-500 dark:text-sky-400'>
						{WorkExperience.nameCompany}
					</span>
					{WorkExperience.active ? (
						<span class='bg-blue-100 text-blue-800 max-w-fit text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 xl:ms-2'>
							{t('WorkExperience.Active')}
						</span>
					) : null}
				</h3>
				<time class='block my-2 text-sm font-normal leading-none text-slate-400 dark:text-slate-600' data-aos="fade-right">
					{t('WorkExperience.ReleaseDate')} {WorkExperience.date}
				</time>
				<p class='mb-4 text-base font-normal text-slate-600 dark:text-slate-400' data-aos="fade-right">
					{WorkExperience.description}
				</p>
				{WorkExperience.visit ? (
					<div class='flex '>
						<AButton
							href={WorkExperience.visit}
							texto={t('WorkExperience.Visit')}
							newPage
						/>
					</div>
				) : null}
			</li>
		))
	}
</ol>
