---
// Tipos de datos de los props
interface Props {
	title: string;
}

// Props
const { title } = Astro.props;

// Componentes
import SquareLines from '@/Components/Common/Square/SquareLines.astro';
import Navbar from '@/Components/Common/Navbar.astro';
import Footer from '@/Components/Common/Footer.astro';

// Tailwind CSS
import '@/Styles/Default.css';

// Font Awesome 6
import '@/Assets/FontAwesome/css/all.css';

// Lenguaje
import { useLocale } from '@/Hooks/useLocale';
const { currentLocale, t } = useLocale(Astro);

import { ClientRouter } from 'astro:transitions';
---

<html lang={currentLocale}>
	<head>
		<!-- Metas -->
		<meta charset='UTF-8' />
		<meta name='description' content={t('About.Description')} />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<meta name='robots' content='index, follow' />
		<link rel='canonical' href={Astro.url} />
		<!-- Open Graph -->
		<meta property='og:title' content={title} />
		<meta property='og:description' content={t('About.Description')} />
		<meta property='og:url' content={Astro.url} />
		<meta property='og:type' content='website' />

		<!-- title & Icono -->
		<title>{title}</title>
		<link rel='icon' type='image/svg+xml' href='/Icons/Icono-Negro.ico' />
	</head>

	<body
		class='bg-[radial-gradient(125%_125%_at_50%_10%,_#fff_60%,_#e2e8f0_100%)] dark:bg-[radial-gradient(125%_125%_at_50%_10%,_#020618_60%,_#052f4a_100%)] bg-fixed bg-cover bg-no-repeat text-slate-950 dark:text-slate-100'>
		<div class='flex flex-col justify-between h-screen'>
			<SquareLines />
			<Navbar />
			<div class='flex flex-col p-8 mx-60 max-lg:mx-40 max-md:mx-20 max-sm:mx-4 gap-10'>
				<ClientRouter />
				<slot />
			</div>
			<Footer />
		</div>
	</body>
</html>
